body {
    background: rgba(128, 128, 128, 0.719);
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #1c2aea;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #0000006c;
    font-weight: 200;
    font-size: 2.0rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #1c5dea;
}

#mainNavbar .navbar-brand {
    color: #1c20ea;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222, 192, 192);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




